
  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <mat-dialog-content>
      <h1 mat-dialog-title>New node name:</h1>
      <mat-form-field appearance="outline" >
        <input  matInput style="font-size: 26px" formControlName="name">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" mat-button type="submit">Ok</button>
      <button mat-raised-button color="primary" mat-button type="button" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>

