/*.popup{*/
/*  width: max-content;*/
/*  height: max-content;*/
/*}*/

/*.buttons_block{*/
/*  position: absolute;*/
/*  margin-top: calc(-50vh + 100px);*/
/*  margin-left: calc(50vw + 130px);*/
/*}*/


